# WorldWideCoffee (WWC) Global Expansion

## Summary:

1. Description of business problem
2. Description of the Data
3. Demo


### 1. Description of business problem
WorldWideCoffee (WWC) is a fast growing startup coffeeshop company established in Eeastern Europe (Ankara, Turkey). After successful launch in the head country, it is planning to expand globally. Main target market for WWC are current unsatisfied Starbukcs customers (major competitor - global brand). 

The strategy company is going to use is summarized below:
1. WWC will consider the capital cities of countries throughout the world, where Starbucks has at least one branch.
2. Based on the data available online, WWC will analyze the average ratings of Starbucks shops in each city, and cluster them into 3 groups: Low, Medium, High.
3. It will choose one of the cities in the low cluster group, and expand to that country.
4. Location of the shop will be decided based on the in city ratings of Starbucks shops, ie, closer to the shops with lowest ratings


### 2. Description of the data

1. List of Starbucks Shops -  https://en.wikipedia.org/wiki/Starbucks#Locations
2. List of National Capitals - https://en.wikipedia.org/wiki/List_of_national_capitals
3. FourSquare - https://foursquare.com/developers/apps

### 3. Demo

In [1]:
import requests
import pandas as pd
from geopy.geocoders import Nominatim
from bs4 import BeautifulSoup
import numpy as np
from sklearn.cluster import KMeans

#### Get coordinates for a capital City

In [2]:
capital = 'Baku'
country = 'Azerbaijan'
address = capital + ", " + country

geolocator = Nominatim(user_agent="ny_explorer")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinate of {} are {}, {}.'.format(capital, latitude, longitude))

The geograpical coordinate of Baku are 40.3754434, 49.8326748.

#### List of Stores and ratings
Use the above coordinates as an input into foursquare api to get the list of Starbucks stores, and their corresponding ratings

More detailed demo will be provided in W2 sumbission. For now you can use the links below to get the required response from Foursquare:
1. https://foursquare.com/developers/explore#req=venues%2F
2. https://foursquare.com/developers/explore#req=venues%2Fsearch%3F

#### Create DataFrame with Starbucks locations

In [4]:
site_url = "https://en.wikipedia.org/wiki/Starbucks#Locations"
site = requests.get(site_url).text
site = BeautifulSoup(site,"lxml")

In [5]:
starbucks_locs = pd.DataFrame(columns=['Country'])

for lst in site.find_all("ul")[13:19]:
    for item in lst.find_all('li'):
        c = item.find('a').get('title')
        ## to make sure it matches with list of national capitals page
        if c == 'The Bahamas':
            c = 'Bahamas'
        elif c == 'Republic of Ireland':
            c = 'Ireland'
        elif c == 'Hong Kong':
            continue
        starbucks_locs = starbucks_locs.append({'Country': c}, ignore_index=True)

print(starbucks_locs.shape)
starbucks_locs.head()

(77, 1)

        Country
0         Egypt
1  South Africa
2       Morocco
3         China
4         Japan

#### Get List of National Capitals

In [6]:
cap_site_url = "https://en.wikipedia.org/wiki/List_of_national_capitals"
cap_site = requests.get(cap_site_url).text
cap_site = BeautifulSoup(cap_site,"lxml")

My_table = cap_site.find("table",{"class":"wikitable sortable"})

In [7]:
capital_df = pd.DataFrame(columns=['Capital', 'Country'])

for tr in My_table.find_all('tr'):
    tds = tr.find_all('td')
    if not tds:
        continue
    capital, country, _ = [td.text.strip() for td in tds]
    capital_df = capital_df.append({'Capital': capital,
                                    'Country': country}, ignore_index=True)

In [8]:
print(capital_df.shape)
capital_df.head()

(244, 2)

       Capital               Country
0    Abu Dhabi  United Arab Emirates
1        Abuja               Nigeria
2        Accra                 Ghana
3    Adamstown      Pitcairn Islands
4  Addis Ababa              Ethiopia

In [9]:
starbucks_shops = pd.merge(capital_df, starbucks_locs, on='Country')
starbucks_shops.head()

                                    Capital               Country
0                                 Abu Dhabi  United Arab Emirates
1                                     Amman                Jordan
2  Amsterdam (official)The Hague (de facto)           Netherlands
3                          Andorra la Vella               Andorra
4                                    Ankara                Turkey

In [11]:
# modify the data to make sure names match between two wikipedia pages
starbucks_shops.at[2,'Capital'] = 'Amsterdam'
starbucks_shops.at[31,'Capital'] = 'Kuala Lumpur'
starbucks_shops.at[57,'Capital'] = 'Cape Town'
starbucks_shops.at[64,'Capital'] = 'Santiago'
starbucks_shops.at[69,'Capital'] = 'La Paz'

In [15]:
print(starbucks_shops.shape)
starbucks_shops.head()

(77, 2)

            Capital               Country
0         Abu Dhabi  United Arab Emirates
1             Amman                Jordan
2         Amsterdam           Netherlands
3  Andorra la Vella               Andorra
4            Ankara                Turkey

#### Add Columns for latitude and longitutde

In [16]:
sLength = len(starbucks_shops)
starbucks_shops = starbucks_shops.assign(Latitude=pd.Series(np.zeros(sLength)).values)
starbucks_shops = starbucks_shops.assign(Longitude=pd.Series(np.zeros(sLength)).values)
starbucks_shops.head()

            Capital               Country  Latitude  Longitude
0         Abu Dhabi  United Arab Emirates       0.0        0.0
1             Amman                Jordan       0.0        0.0
2         Amsterdam           Netherlands       0.0        0.0
3  Andorra la Vella               Andorra       0.0        0.0
4            Ankara                Turkey       0.0        0.0

#### Fill in the lat, long data

In [17]:
address = capital + ", " + country

for index, row in starbucks_shops.iterrows():
    address = row["Capital"] + ", " + row["Country"]
    geolocator = Nominatim(user_agent="ny_explorer")
    location = geolocator.geocode(address)
    latitude = location.latitude
    longitude = location.longitude
    starbucks_shops.at[index,'Latitude'] = latitude
    starbucks_shops.at[index,'Longitude'] = longitude

In [ ]:
# Save the file
# starbucks_shops.to_csv("final_df.csv")

In [20]:
# load the file
# starbucks_shops = pd.read_csv("final_df.csv", index_col=0)

#### Starbucks Stores
Table below will be used in the next part as an input into FourSquare API to analyze the ratings of stores

In [21]:
starbucks_shops

                Capital               Country   Latitude   Longitude
0             Abu Dhabi  United Arab Emirates  23.997644   53.643910
1                 Amman                Jordan  31.951569   35.923963
2             Amsterdam           Netherlands  52.374540    4.897976
3      Andorra la Vella               Andorra  42.506939    1.521247
4                Ankara                Turkey  39.921522   32.853793
5                Athens                Greece  37.984149   23.727984
6                  Baku            Azerbaijan  40.375443   49.832675
7   Bandar Seri Begawan                Brunei   4.889545  114.941757
8               Bangkok              Thailand  13.753893  100.816080
9               Beijing                 China  39.906217  116.391276
10               Beirut               Lebanon  33.895920   35.478430
11             Belgrade                Serbia  44.817813   20.456897
12               Berlin               Germany  52.517036   13.388860
13                 Bern           Switzerland  46.948271    7.451451
14               Bogotá              Colombia   4.598077  -74.076103
15             Brasília                Brazil -10.333333  -53.200000
16           Bratislava              Slovakia  48.135908   17.159744
17             Brussels               Belgium  50.846557    4.351697
18            Bucharest               Romania  44.436141   26.102720
19             Budapest               Hungary  47.498382   19.040471
20         Buenos Aires             Argentina -34.607562  -58.437076
21                Cairo                 Egypt  30.048819   31.243666
22             Canberra             Australia -35.297591  149.101268
23           Copenhagen               Denmark  55.686724   12.570072
24                 Doha                 Qatar  25.285633   51.526416
25               Dublin               Ireland  53.349764   -6.260273
26       Guatemala City             Guatemala  14.622233  -90.518519
27                Hanoi               Vietnam  21.029450  105.854444
28             Helsinki               Finland  60.171320   24.941457
29              Jakarta             Indonesia  -6.175394  106.827183
..                  ...                   ...        ...         ...
47              Nicosia                Cyprus  35.180282   33.373696
48            Nursultan            Kazakhstan  43.086368   77.120336
49           Oranjestad                 Aruba  12.526874  -70.035685
50                 Oslo                Norway  59.913330   10.738970
51               Ottawa                Canada  45.260398  -75.808238
52          Panama City                Panama   8.971449  -79.534180
53                Paris                France  48.856610    2.351499
54           Phnom Penh              Cambodia  11.568271  104.922443
55        Port of Spain   Trinidad and Tobago  10.657268  -61.518017
56               Prague        Czech Republic  50.087465   14.421254
57            Cape Town          South Africa -33.928992   18.417396
58                Rabat               Morocco  34.022405   -6.834543
59               Riyadh          Saudi Arabia  24.631969   46.715065
60                 Rome                 Italy  41.894802   12.485338
61             San José            Costa Rica   9.932543  -84.079578
62             San Juan           Puerto Rico  18.465299  -66.116666
63         San Salvador           El Salvador  13.698994  -89.191425
64             Santiago                 Chile -33.437797  -70.650445
65                Seoul           South Korea  37.566679  126.978291
66            Singapore             Singapore   1.340853  103.878447
67                Sofia              Bulgaria  42.697863   23.322179
68            Stockholm                Sweden  59.325117   18.071093
69               La Paz               Bolivia -16.495637  -68.133635
70               Taipei                Taiwan  25.037520  121.563680
71                Tokyo                 Japan  35.682839  139.759455
72               Vienna               Austria  48.208354   16.372504
73               Warsaw                Poland  52.231924   21.006727
74           Washington         United States  38.895009  -77.036563
75           Wellington           New Zealand -41.288747  174.777209
76           Willemstad               Curaçao  12.109124  -68.931655

[77 rows x 4 columns]

## Get shop ratings using FourSquare

Let's first add two columns below:
1. AvgRatings - Average rating of all starbucks shops in the city
2. Ratings - a dictionary containing, the id of a specific shop from foursquare api, and its corresponding rating

In [22]:
sLength = len(starbucks_shops)
starbucks_shops = starbucks_shops.assign(AvgRatings = pd.Series(np.zeros(sLength)).values)
starbucks_shops = starbucks_shops.assign(Ratings = pd.Series(np.zeros(sLength)).values)
starbucks_shops.head()

,Capital,Country,Latitude,Longitude,AvgRatings,Ratings
0,Abu Dhabi,United Arab Emirates,23.997644,53.643910,0.0,0.0
1,Amman,Jordan,31.951569,35.923963,0.0,0.0
2,Amsterdam,Netherlands,52.374540,4.897976,0.0,0.0
3,Andorra la Vella,Andorra,42.506939,1.521247,0.0,0.0
4,Ankara,Turkey,39.921522,32.853793,0.0,0.0

#### Complete the table

Let's fill in the AvgRatings and Ratings columns with correct values

In [ ]:
CLIENT_ID = '**' #  Foursquare ID
CLIENT_SECRET = '**' #  Foursquare Secret
VERSION = '20180604'
query = 'Starbucks' # name to be searched
cat_id = '4bf58dd8d48988d1e0931735' # Id for Coffe Shops to be used for search query in Foursquare API 
lim = 5 # due to the restrictions to the number of queries limit of 5 will be used

# Iterate over each capital city
for index, row in starbucks_shops[15:].iterrows():
    
    lat = row['Latitude']
    lon = row['Longitude']
   
    # to get a list of all starbucks shops in a given city
    url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&v={}&ll={},{}&query={}&categoryId={}&limit={}'.format(
        CLIENT_ID, 
        CLIENT_SECRET, 
        VERSION, 
        lat, 
        lon, 
        query, 
        cat_id,
        lim)

    
    store_results = requests.get(url).json()
    
    # creates a dictionary of store ids
    d = {}
    for strb in store_results['response']['venues']:
        d[strb['id']] = None

        
    # to get the corresponding ratings of starbucks shops found above
    url = 'https://api.foursquare.com/v2/venues/{}?client_id={}&client_secret={}&v={}'
    for k in d.keys():
        
        url = url.format(k, CLIENT_ID, CLIENT_SECRET,VERSION)

        res = requests.get(url).json()
        try:
            d[k] = float(res['response']['venue']['rating'])
        except:
            d[k] = 0.
        
    
    # fill in the Ratings and AvgRatings columns
    starbucks_shops.at[index,'Ratings'] = d
    try:
        starbucks_shops.at[index,'AvgRatings'] = sum(list(d.values())) / len(list(d.values())) 
    except:
        starbucks_shops.at[index,'AvgRatings'] = 0

In [ ]:
# Save the file
# starbucks_shops.to_csv("Ratings_final.csv")

In [23]:
# load the file
starbucks_shops_ratings = pd.read_csv('Ratings_final.csv', index_col=0)

#### Completed table

In [24]:
starbucks_shops_ratings

,Capital,Country,Latitude,Longitude,AvgRatings,Ratings
0,Abu Dhabi,United Arab Emirates,23.997644,53.643910,8.40,{'53089160498e151fa7f9a9f5': 8.4}
1,Amman,Jordan,31.951569,35.923963,9.10,"{'4bb624ee46d4a593f8c0c5c0': 9.1, '59fcc6bb286..."
2,Amsterdam,Netherlands,52.374540,4.897976,8.00,"{'529634bc11d2ab5263ab848c': 8.0, '50056329e4b..."
3,Andorra la Vella,Andorra,42.506939,1.521247,7.90,"{'5745a9cc498e4f0f9a79db85': 7.9, '595a40052bf..."
4,Ankara,Turkey,39.921522,32.853793,8.10,"{'4f25511ce4b04f6e6a110d1b': 8.1, '51386bcbe4b..."
5,Athens,Greece,37.984149,23.727984,7.90,"{'4b55dc00f964a52046f327e3': 7.9, '4b9f7ab4f96..."
6,Baku,Azerbaijan,40.375443,49.832675,8.00,"{'5698c3bc498eac8f3804d4df': 8.0, '576d0a8c498..."
7,Bandar Seri Begawan,Brunei,4.889545,114.941757,7.60,"{'52fc9a45498e79749d33f0d0': 7.6, '4c4d13aff5a..."
8,Bangkok,Thailand,13.753893,100.816080,8.30,"{'56c6a4c1498e6dd6d1bddb91': 8.3, '5a3c5fe36a5..."
9,Beijing,China,39.906217,116.391276,7.70,"{'4be7eebbee96c9289b6efdbf': 7.7, '5b373a893d4..."
10,Beirut,Lebanon,33.895920,35.478430,7.80,"{'4bb72c4c2f70c9b6c8578630': 7.8, '4c8d1177c37..."
11,Belgrade,Serbia,44.817813,20.456897,0.00,{'5ca37866d176e90025a091e1': 0.0}
12,Berlin,Germany,52.517037,13.388860,6.90,"{'4adf77c3f964a520df7a21e3': 6.9, '4adf768af96..."
13,Bern,Switzerland,46.948271,7.451451,7.20,"{'4b7687ddf964a520b4502ee3': 7.2, '4b61bad2f96..."
14,Bogotá,Colombia,4.598077,-74.076103,6.70,"{'58d0742a951e7d532bac7fb2': 6.7, '54f83f18498..."
15,Brasília,Brazil,-10.333333,-53.200000,0.00,{}
16,Bratislava,Slovakia,48.135908,17.159744,7.50,"{'5799a6f3498e27299438fd56': 7.5, '5745d8fa498..."
17,Brussels,Belgium,50.846557,4.351697,8.00,"{'4e00a764b3ad0e090a6ff1ac': 8.0, '537e0ffb498..."
18,Bucharest,Romania,44.436141,26.102720,8.40,"{'5491a88f498e12011af1a3a7': 8.4, '54eed7ad498..."
19,Budapest,Hungary,47.498382,19.040471,7.70,"{'4f89d5f24fc69a9a7d07ed32': 7.7, '578dc1f8cd1..."
20,Buenos Aires,Argentina,-34.607562,-58.437076,7.70,"{'4b8d092bf964a52036e532e3': 7.7, '4d11ed9a7a8..."
21,Cairo,Egypt,30.048819,31.243666,9.00,"{'4bdf04120ee3a59313ac32b0': 9.0, '5ac227211f8..."
22,Canberra,Australia,-35.297591,149.101268,0.00,{}
23,Copenhagen,Denmark,55.686724,12.570072,7.60,"{'55ac9af9498e117d7f2a1f0a': 7.6, '53ad114b498..."
24,Doha,Qatar,25.285633,51.526416,8.30,"{'4ce11c2c94c3b60c68bd74ea': 8.3, '4b9d2789f96..."
25,Dublin,Ireland,53.349764,-6.260273,7.30,"{'5290d704498e2d5c6000a181': 7.3, '4af1ea70f96..."
26,Guatemala City,Guatemala,14.622233,-90.518519,9.00,"{'5628e1b1498e2c6aac7934b1': 9.0, '55a808e8498..."
27,Hanoi,Vietnam,21.029450,105.854444,8.70,"{'590d4a5e1108ba582673bec7': 8.7, '53d9d5e3498..."
28,Helsinki,Finland,60.171320,24.941457,7.50,"{'5238643c11d2c1029cc5e106': 7.5, '5631da7f498..."
29,Jakarta,Indonesia,-6.175394,106.827183,7.30,"{'51047707e4b0059ce06c2cf0': 7.3, '5783a0ff498..."
...,...,...,...,...,...,...
47,Nicosia,Cyprus,35.180282,33.373696,8.30,"{'4d1f501486e15481311fb13a': 8.3, '4bb2196ff96..."
48,Nursultan,Kazakhstan,43.086368,77.120336,6.90,"{'5782361c498e2299113fdb5a': 6.9, '578b98d8498..."
49,Oranjestad,Aruba,12.526874,-70.035685,8.00,"{'4d46ccd5befe236a10230ce3': 8.0, '4b77172cf96..."
50,Oslo,Norway,59.913330,10.738970,6.40,"{'519e5ee1498e59575ef2ae8c': 6.4, '5279f00d11d..."
51,Ottawa,Canada,45.260398,-75.808238,6.50,"{'4b2b9f33f964a5205eb824e3': 6.5, '4b15a589f96..."
52,Panama City,Panama,8.971449,-79.534180,8.60,"{'5655d0a138fa700382e6516c': 8.6, '57e542b9498..."
53,Paris,France,48.856610,2.351499,7.00,"{'4d9da49ec97a236afb68c199': 7.0, '4b73c62cf96..."
54,Phnom Penh,Cambodia,11.568271,104.922443,0.00,"{'59b13467037be11372e6c3b9': 0.0, '57f88cd8498..."
55,Port of Spain,Trinidad and Tobago,10.657268,-61.518017,8.20,"{'580e021338fad048b1a68886': 8.2, '5a3e759ebcb..."
56,Prague,Czech Republic,50.087465,14.421254,6.24,"{'4b46db8bf964a520f12826e3': 7.8, '5c1f5190dbd..."
57,Cape Town,South Africa,-33.928992,18.417396,0.00,"{'4c6634a57abde21ea1046368': 0.0, '4c0d17d8c70..."
58,Rabat,Morocco,34.022405,-6.834543,7.20,"{'59da90824420d82388d1b745': 7.2, '59e4731a624..."
59,Riyadh,Saudi Arabia,24.631969,46.715065,9.30,"{'566db885498e8b884eecff76': 9.3, '5a378e55d76..."
60,Rome,Italy,41.894802,12.485338,0.00,{'5b3c9ee8112c6c002c243bb2': 0.0}
61,San José,Costa Rica,9.932543,-84.079578,8.70,"{'561da3f7498ee3b75b76f2cb': 8.7, '56059049498..."
62,San Juan,Puerto Rico,18.465299,-66.116666,7.70,"{'4bb8b363b35776b0cd1ec901': 7.7, '4b5850fff96..."
63,San Salvador,El Salvador,13.698994,-89.191425,8.10,"{'522f58bf11d2c561f86f055f': 8.1, '4e342f40d22..."
64,Santiago,Chile,-33.437797,-70.650445,7.90,"{'4ea9606329c2fa4821c006cc': 7.9, '4b52156bf96..."
65,Seoul,South Korea,37.566679,126.978291,6.20,"{'56f573d5498e64a809fc4527': 6.2, '4b5bb69af96..."
66,Singapore,Singapore,1.340853,103.878447,6.40,"{'4cea08b7e888f04d1f404b6b': 6.4, '4b062a5cf96..."
67,Sofia,Bulgaria,42.697863,23.322179,8.40,"{'4ba0dbd1f964a520b58237e3': 8.4, '4b6d8a4cf96..."
68,Stockholm,Sweden,59.325117,18.071093,7.00,"{'54bcfcc3498ea0b8417f2eb2': 7.0, '54648a88498..."
69,La Paz,Bolivia,-16.495637,-68.133635,0.00,{}
70,Taipei,Taiwan,25.037520,121.563680,7.90,"{'4e53555745ddffa8d18bd84c': 7.9, '4e91708c77c..."
71,Tokyo,Japan,35.682839,139.759455,6.70,"{'4b85ba2bf964a520666f31e3': 6.7, '597185d6080..."
72,Vienna,Austria,48.208354,16.372504,7.50,"{'4dbc0edc6a23e294ba239284': 7.5, '4b090dd4f96..."
73,Warsaw,Poland,52.231924,21.006727,7.80,"{'4e0a4b84d22da1beee107bd8': 7.8, '4eed40f9754..."
74,Washington,United States,38.895009,-77.036563,6.90,"{'4a6718ecf964a520e7c81fe3': 6.9, '4a54d2f3f96..."
75,Wellington,New Zealand,-41.288747,174.777209,6.60,"{'4b058778f964a5204f9422e3': 6.6, '4b233adbf96..."
76,Willemstad,Curaçao,12.109124,-68.931655,8.40,"{'4e480b8381305ff36220a929': 8.4, '518d4c49498..."

As you can see from the table above, some of the ratings are missing. We will filter out that data and work only with cities left

In [25]:
idxs = starbucks_shops_ratings[starbucks_shops_ratings['AvgRatings'] == 0].index
idxs

Int64Index([11, 15, 22, 30, 54, 57, 60, 69], dtype='int64')

In [26]:
starbucks_shops_ratings_filtered = starbucks_shops_ratings.drop(index = idxs).reset_index(drop=True)
print(starbucks_shops_ratings_filtered.shape)
starbucks_shops_ratings_filtered

(69, 6)

,Capital,Country,Latitude,Longitude,AvgRatings,Ratings
0,Abu Dhabi,United Arab Emirates,23.997644,53.643910,8.40,{'53089160498e151fa7f9a9f5': 8.4}
1,Amman,Jordan,31.951569,35.923963,9.10,"{'4bb624ee46d4a593f8c0c5c0': 9.1, '59fcc6bb286..."
2,Amsterdam,Netherlands,52.374540,4.897976,8.00,"{'529634bc11d2ab5263ab848c': 8.0, '50056329e4b..."
3,Andorra la Vella,Andorra,42.506939,1.521247,7.90,"{'5745a9cc498e4f0f9a79db85': 7.9, '595a40052bf..."
4,Ankara,Turkey,39.921522,32.853793,8.10,"{'4f25511ce4b04f6e6a110d1b': 8.1, '51386bcbe4b..."
5,Athens,Greece,37.984149,23.727984,7.90,"{'4b55dc00f964a52046f327e3': 7.9, '4b9f7ab4f96..."
6,Baku,Azerbaijan,40.375443,49.832675,8.00,"{'5698c3bc498eac8f3804d4df': 8.0, '576d0a8c498..."
7,Bandar Seri Begawan,Brunei,4.889545,114.941757,7.60,"{'52fc9a45498e79749d33f0d0': 7.6, '4c4d13aff5a..."
8,Bangkok,Thailand,13.753893,100.816080,8.30,"{'56c6a4c1498e6dd6d1bddb91': 8.3, '5a3c5fe36a5..."
9,Beijing,China,39.906217,116.391276,7.70,"{'4be7eebbee96c9289b6efdbf': 7.7, '5b373a893d4..."
10,Beirut,Lebanon,33.895920,35.478430,7.80,"{'4bb72c4c2f70c9b6c8578630': 7.8, '4c8d1177c37..."
11,Berlin,Germany,52.517037,13.388860,6.90,"{'4adf77c3f964a520df7a21e3': 6.9, '4adf768af96..."
12,Bern,Switzerland,46.948271,7.451451,7.20,"{'4b7687ddf964a520b4502ee3': 7.2, '4b61bad2f96..."
13,Bogotá,Colombia,4.598077,-74.076103,6.70,"{'58d0742a951e7d532bac7fb2': 6.7, '54f83f18498..."
14,Bratislava,Slovakia,48.135908,17.159744,7.50,"{'5799a6f3498e27299438fd56': 7.5, '5745d8fa498..."
15,Brussels,Belgium,50.846557,4.351697,8.00,"{'4e00a764b3ad0e090a6ff1ac': 8.0, '537e0ffb498..."
16,Bucharest,Romania,44.436141,26.102720,8.40,"{'5491a88f498e12011af1a3a7': 8.4, '54eed7ad498..."
17,Budapest,Hungary,47.498382,19.040471,7.70,"{'4f89d5f24fc69a9a7d07ed32': 7.7, '578dc1f8cd1..."
18,Buenos Aires,Argentina,-34.607562,-58.437076,7.70,"{'4b8d092bf964a52036e532e3': 7.7, '4d11ed9a7a8..."
19,Cairo,Egypt,30.048819,31.243666,9.00,"{'4bdf04120ee3a59313ac32b0': 9.0, '5ac227211f8..."
20,Copenhagen,Denmark,55.686724,12.570072,7.60,"{'55ac9af9498e117d7f2a1f0a': 7.6, '53ad114b498..."
21,Doha,Qatar,25.285633,51.526416,8.30,"{'4ce11c2c94c3b60c68bd74ea': 8.3, '4b9d2789f96..."
22,Dublin,Ireland,53.349764,-6.260273,7.30,"{'5290d704498e2d5c6000a181': 7.3, '4af1ea70f96..."
23,Guatemala City,Guatemala,14.622233,-90.518519,9.00,"{'5628e1b1498e2c6aac7934b1': 9.0, '55a808e8498..."
24,Hanoi,Vietnam,21.029450,105.854444,8.70,"{'590d4a5e1108ba582673bec7': 8.7, '53d9d5e3498..."
25,Helsinki,Finland,60.171320,24.941457,7.50,"{'5238643c11d2c1029cc5e106': 7.5, '5631da7f498..."
26,Jakarta,Indonesia,-6.175394,106.827183,7.30,"{'51047707e4b0059ce06c2cf0': 7.3, '5783a0ff498..."
27,Kuala Lumpur,Malaysia,3.151664,101.694303,6.80,"{'5902d2f4646e387f2b2d705c': 6.8, '538daac6498..."
28,Kuwait City,Kuwait,29.379709,47.973563,9.30,"{'5644fad1498e387283e35085': 9.3, '58a025a003e..."
29,Lima,Peru,-12.062107,-77.036526,8.20,"{'52462e2911d2d573d4b3278e': 8.2, '51223a58e4b..."
...,...,...,...,...,...,...
39,Moscow,Russia,55.750446,37.617494,8.60,"{'4f3b52bfe4b0ce0258fcafd4': 8.6, '4ba755a8f96..."
40,Muscat,Oman,23.512550,58.551402,8.10,"{'5b8b7203419a9e002cfefc1e': 8.1, '4c3596dca0c..."
41,Nassau,Bahamas,25.078346,-77.338333,6.50,"{'4bcf7dd041b9ef3b078cf8e5': 6.5, '4ccafe8eba0..."
42,New Delhi,India,28.614179,77.202266,8.20,"{'5113713fe4b09f5a3d6a7590': 8.2, '53285228498..."
43,Nicosia,Cyprus,35.180282,33.373696,8.30,"{'4d1f501486e15481311fb13a': 8.3, '4bb2196ff96..."
44,Nursultan,Kazakhstan,43.086368,77.120336,6.90,"{'5782361c498e2299113fdb5a': 6.9, '578b98d8498..."
45,Oranjestad,Aruba,12.526874,-70.035685,8.00,"{'4d46ccd5befe236a10230ce3': 8.0, '4b77172cf96..."
46,Oslo,Norway,59.913330,10.738970,6.40,"{'519e5ee1498e59575ef2ae8c': 6.4, '5279f00d11d..."
47,Ottawa,Canada,45.260398,-75.808238,6.50,"{'4b2b9f33f964a5205eb824e3': 6.5, '4b15a589f96..."
48,Panama City,Panama,8.971449,-79.534180,8.60,"{'5655d0a138fa700382e6516c': 8.6, '57e542b9498..."
49,Paris,France,48.856610,2.351499,7.00,"{'4d9da49ec97a236afb68c199': 7.0, '4b73c62cf96..."
50,Port of Spain,Trinidad and Tobago,10.657268,-61.518017,8.20,"{'580e021338fad048b1a68886': 8.2, '5a3e759ebcb..."
51,Prague,Czech Republic,50.087465,14.421254,6.24,"{'4b46db8bf964a520f12826e3': 7.8, '5c1f5190dbd..."
52,Rabat,Morocco,34.022405,-6.834543,7.20,"{'59da90824420d82388d1b745': 7.2, '59e4731a624..."
53,Riyadh,Saudi Arabia,24.631969,46.715065,9.30,"{'566db885498e8b884eecff76': 9.3, '5a378e55d76..."
54,San José,Costa Rica,9.932543,-84.079578,8.70,"{'561da3f7498ee3b75b76f2cb': 8.7, '56059049498..."
55,San Juan,Puerto Rico,18.465299,-66.116666,7.70,"{'4bb8b363b35776b0cd1ec901': 7.7, '4b5850fff96..."
56,San Salvador,El Salvador,13.698994,-89.191425,8.10,"{'522f58bf11d2c561f86f055f': 8.1, '4e342f40d22..."
57,Santiago,Chile,-33.437797,-70.650445,7.90,"{'4ea9606329c2fa4821c006cc': 7.9, '4b52156bf96..."
58,Seoul,South Korea,37.566679,126.978291,6.20,"{'56f573d5498e64a809fc4527': 6.2, '4b5bb69af96..."
59,Singapore,Singapore,1.340853,103.878447,6.40,"{'4cea08b7e888f04d1f404b6b': 6.4, '4b062a5cf96..."
60,Sofia,Bulgaria,42.697863,23.322179,8.40,"{'4ba0dbd1f964a520b58237e3': 8.4, '4b6d8a4cf96..."
61,Stockholm,Sweden,59.325117,18.071093,7.00,"{'54bcfcc3498ea0b8417f2eb2': 7.0, '54648a88498..."
62,Taipei,Taiwan,25.037520,121.563680,7.90,"{'4e53555745ddffa8d18bd84c': 7.9, '4e91708c77c..."
63,Tokyo,Japan,35.682839,139.759455,6.70,"{'4b85ba2bf964a520666f31e3': 6.7, '597185d6080..."
64,Vienna,Austria,48.208354,16.372504,7.50,"{'4dbc0edc6a23e294ba239284': 7.5, '4b090dd4f96..."
65,Warsaw,Poland,52.231924,21.006727,7.80,"{'4e0a4b84d22da1beee107bd8': 7.8, '4eed40f9754..."
66,Washington,United States,38.895009,-77.036563,6.90,"{'4a6718ecf964a520e7c81fe3': 6.9, '4a54d2f3f96..."
67,Wellington,New Zealand,-41.288747,174.777209,6.60,"{'4b058778f964a5204f9422e3': 6.6, '4b233adbf96..."
68,Willemstad,Curaçao,12.109124,-68.931655,8.40,"{'4e480b8381305ff36220a929': 8.4, '518d4c49498..."

### K-means

Now that the table is ready, we will use K-means algorithm in order to cluster cities into 3 segments:

1. Cities with **High Ratings**
2. Cities with **Medium Ratings**
3. Cities with **Low Ratings**

In [27]:
# set number of clusters
kclusters = 3

grouped_clustering = starbucks_shops_ratings_filtered[['AvgRatings']]

# run k-means clustering
kmeans = KMeans(n_clusters=kclusters, random_state=0).fit(grouped_clustering)

# check cluster labels generated for each row in the dataframe
kmeans.labels_

array([1, 1, 2, 2, 2, 2, 2, 2, 1, 2, 2, 0, 0, 0, 2, 2, 1, 2, 2, 1, 2, 1,
       0, 1, 1, 2, 0, 0, 1, 2, 1, 0, 0, 2, 1, 0, 2, 2, 2, 1, 2, 0, 2, 1,
       0, 2, 0, 0, 1, 0, 2, 0, 0, 1, 1, 2, 2, 2, 0, 0, 1, 0, 2, 0, 2, 2,
       0, 0, 1], dtype=int32)

In [ ]:
starbucks_shops_ratings_filtered.insert(0, 'Cluster Labels', kmeans.labels_)

In [31]:
starbucks_shops_ratings_filtered

,Cluster Labels,Capital,Country,Latitude,Longitude,AvgRatings,Ratings
0,1,Abu Dhabi,United Arab Emirates,23.997644,53.643910,8.40,{'53089160498e151fa7f9a9f5': 8.4}
1,1,Amman,Jordan,31.951569,35.923963,9.10,"{'4bb624ee46d4a593f8c0c5c0': 9.1, '59fcc6bb286..."
2,2,Amsterdam,Netherlands,52.374540,4.897976,8.00,"{'529634bc11d2ab5263ab848c': 8.0, '50056329e4b..."
3,2,Andorra la Vella,Andorra,42.506939,1.521247,7.90,"{'5745a9cc498e4f0f9a79db85': 7.9, '595a40052bf..."
4,2,Ankara,Turkey,39.921522,32.853793,8.10,"{'4f25511ce4b04f6e6a110d1b': 8.1, '51386bcbe4b..."
5,2,Athens,Greece,37.984149,23.727984,7.90,"{'4b55dc00f964a52046f327e3': 7.9, '4b9f7ab4f96..."
6,2,Baku,Azerbaijan,40.375443,49.832675,8.00,"{'5698c3bc498eac8f3804d4df': 8.0, '576d0a8c498..."
7,2,Bandar Seri Begawan,Brunei,4.889545,114.941757,7.60,"{'52fc9a45498e79749d33f0d0': 7.6, '4c4d13aff5a..."
8,1,Bangkok,Thailand,13.753893,100.816080,8.30,"{'56c6a4c1498e6dd6d1bddb91': 8.3, '5a3c5fe36a5..."
9,2,Beijing,China,39.906217,116.391276,7.70,"{'4be7eebbee96c9289b6efdbf': 7.7, '5b373a893d4..."
10,2,Beirut,Lebanon,33.895920,35.478430,7.80,"{'4bb72c4c2f70c9b6c8578630': 7.8, '4c8d1177c37..."
11,0,Berlin,Germany,52.517037,13.388860,6.90,"{'4adf77c3f964a520df7a21e3': 6.9, '4adf768af96..."
12,0,Bern,Switzerland,46.948271,7.451451,7.20,"{'4b7687ddf964a520b4502ee3': 7.2, '4b61bad2f96..."
13,0,Bogotá,Colombia,4.598077,-74.076103,6.70,"{'58d0742a951e7d532bac7fb2': 6.7, '54f83f18498..."
14,2,Bratislava,Slovakia,48.135908,17.159744,7.50,"{'5799a6f3498e27299438fd56': 7.5, '5745d8fa498..."
15,2,Brussels,Belgium,50.846557,4.351697,8.00,"{'4e00a764b3ad0e090a6ff1ac': 8.0, '537e0ffb498..."
16,1,Bucharest,Romania,44.436141,26.102720,8.40,"{'5491a88f498e12011af1a3a7': 8.4, '54eed7ad498..."
17,2,Budapest,Hungary,47.498382,19.040471,7.70,"{'4f89d5f24fc69a9a7d07ed32': 7.7, '578dc1f8cd1..."
18,2,Buenos Aires,Argentina,-34.607562,-58.437076,7.70,"{'4b8d092bf964a52036e532e3': 7.7, '4d11ed9a7a8..."
19,1,Cairo,Egypt,30.048819,31.243666,9.00,"{'4bdf04120ee3a59313ac32b0': 9.0, '5ac227211f8..."
20,2,Copenhagen,Denmark,55.686724,12.570072,7.60,"{'55ac9af9498e117d7f2a1f0a': 7.6, '53ad114b498..."
21,1,Doha,Qatar,25.285633,51.526416,8.30,"{'4ce11c2c94c3b60c68bd74ea': 8.3, '4b9d2789f96..."
22,0,Dublin,Ireland,53.349764,-6.260273,7.30,"{'5290d704498e2d5c6000a181': 7.3, '4af1ea70f96..."
23,1,Guatemala City,Guatemala,14.622233,-90.518519,9.00,"{'5628e1b1498e2c6aac7934b1': 9.0, '55a808e8498..."
24,1,Hanoi,Vietnam,21.029450,105.854444,8.70,"{'590d4a5e1108ba582673bec7': 8.7, '53d9d5e3498..."
25,2,Helsinki,Finland,60.171320,24.941457,7.50,"{'5238643c11d2c1029cc5e106': 7.5, '5631da7f498..."
26,0,Jakarta,Indonesia,-6.175394,106.827183,7.30,"{'51047707e4b0059ce06c2cf0': 7.3, '5783a0ff498..."
27,0,Kuala Lumpur,Malaysia,3.151664,101.694303,6.80,"{'5902d2f4646e387f2b2d705c': 6.8, '538daac6498..."
28,1,Kuwait City,Kuwait,29.379709,47.973563,9.30,"{'5644fad1498e387283e35085': 9.3, '58a025a003e..."
29,2,Lima,Peru,-12.062107,-77.036526,8.20,"{'52462e2911d2d573d4b3278e': 8.2, '51223a58e4b..."
...,...,...,...,...,...,...,...
39,1,Moscow,Russia,55.750446,37.617494,8.60,"{'4f3b52bfe4b0ce0258fcafd4': 8.6, '4ba755a8f96..."
40,2,Muscat,Oman,23.512550,58.551402,8.10,"{'5b8b7203419a9e002cfefc1e': 8.1, '4c3596dca0c..."
41,0,Nassau,Bahamas,25.078346,-77.338333,6.50,"{'4bcf7dd041b9ef3b078cf8e5': 6.5, '4ccafe8eba0..."
42,2,New Delhi,India,28.614179,77.202266,8.20,"{'5113713fe4b09f5a3d6a7590': 8.2, '53285228498..."
43,1,Nicosia,Cyprus,35.180282,33.373696,8.30,"{'4d1f501486e15481311fb13a': 8.3, '4bb2196ff96..."
44,0,Nursultan,Kazakhstan,43.086368,77.120336,6.90,"{'5782361c498e2299113fdb5a': 6.9, '578b98d8498..."
45,2,Oranjestad,Aruba,12.526874,-70.035685,8.00,"{'4d46ccd5befe236a10230ce3': 8.0, '4b77172cf96..."
46,0,Oslo,Norway,59.913330,10.738970,6.40,"{'519e5ee1498e59575ef2ae8c': 6.4, '5279f00d11d..."
47,0,Ottawa,Canada,45.260398,-75.808238,6.50,"{'4b2b9f33f964a5205eb824e3': 6.5, '4b15a589f96..."
48,1,Panama City,Panama,8.971449,-79.534180,8.60,"{'5655d0a138fa700382e6516c': 8.6, '57e542b9498..."
49,0,Paris,France,48.856610,2.351499,7.00,"{'4d9da49ec97a236afb68c199': 7.0, '4b73c62cf96..."
50,2,Port of Spain,Trinidad and Tobago,10.657268,-61.518017,8.20,"{'580e021338fad048b1a68886': 8.2, '5a3e759ebcb..."
51,0,Prague,Czech Republic,50.087465,14.421254,6.24,"{'4b46db8bf964a520f12826e3': 7.8, '5c1f5190dbd..."
52,0,Rabat,Morocco,34.022405,-6.834543,7.20,"{'59da90824420d82388d1b745': 7.2, '59e4731a624..."
53,1,Riyadh,Saudi Arabia,24.631969,46.715065,9.30,"{'566db885498e8b884eecff76': 9.3, '5a378e55d76..."
54,1,San José,Costa Rica,9.932543,-84.079578,8.70,"{'561da3f7498ee3b75b76f2cb': 8.7, '56059049498..."
55,2,San Juan,Puerto Rico,18.465299,-66.116666,7.70,"{'4bb8b363b35776b0cd1ec901': 7.7, '4b5850fff96..."
56,2,San Salvador,El Salvador,13.698994,-89.191425,8.10,"{'522f58bf11d2c561f86f055f': 8.1, '4e342f40d22..."
57,2,Santiago,Chile,-33.437797,-70.650445,7.90,"{'4ea9606329c2fa4821c006cc': 7.9, '4b52156bf96..."
58,0,Seoul,South Korea,37.566679,126.978291,6.20,"{'56f573d5498e64a809fc4527': 6.2, '4b5bb69af96..."
59,0,Singapore,Singapore,1.340853,103.878447,6.40,"{'4cea08b7e888f04d1f404b6b': 6.4, '4b062a5cf96..."
60,1,Sofia,Bulgaria,42.697863,23.322179,8.40,"{'4ba0dbd1f964a520b58237e3': 8.4, '4b6d8a4cf96..."
61,0,Stockholm,Sweden,59.325117,18.071093,7.00,"{'54bcfcc3498ea0b8417f2eb2': 7.0, '54648a88498..."
62,2,Taipei,Taiwan,25.037520,121.563680,7.90,"{'4e53555745ddffa8d18bd84c': 7.9, '4e91708c77c..."
63,0,Tokyo,Japan,35.682839,139.759455,6.70,"{'4b85ba2bf964a520666f31e3': 6.7, '597185d6080..."
64,2,Vienna,Austria,48.208354,16.372504,7.50,"{'4dbc0edc6a23e294ba239284': 7.5, '4b090dd4f96..."
65,2,Warsaw,Poland,52.231924,21.006727,7.80,"{'4e0a4b84d22da1beee107bd8': 7.8, '4eed40f9754..."
66,0,Washington,United States,38.895009,-77.036563,6.90,"{'4a6718ecf964a520e7c81fe3': 6.9, '4a54d2f3f96..."
67,0,Wellington,New Zealand,-41.288747,174.777209,6.60,"{'4b058778f964a5204f9422e3': 6.6, '4b233adbf96..."
68,1,Willemstad,Curaçao,12.109124,-68.931655,8.40,"{'4e480b8381305ff36220a929': 8.4, '518d4c49498..."

##### Let's create 3 dataframes for low, medium, and highly rated cities

In [32]:
low_cities = starbucks_shops_ratings_filtered[starbucks_shops_ratings_filtered['Cluster Labels'] == 0]
medium_cities = starbucks_shops_ratings_filtered[starbucks_shops_ratings_filtered['Cluster Labels'] == 2]
high_cities = starbucks_shops_ratings_filtered[starbucks_shops_ratings_filtered['Cluster Labels'] == 1]

#### Now, let's take a look at the cities with low Starbucks store ratings

In [37]:
low_cities

,Cluster Labels,Capital,Country,Latitude,Longitude,AvgRatings,Ratings
11,0,Berlin,Germany,52.517037,13.388860,6.90,"{'4adf77c3f964a520df7a21e3': 6.9, '4adf768af96..."
12,0,Bern,Switzerland,46.948271,7.451451,7.20,"{'4b7687ddf964a520b4502ee3': 7.2, '4b61bad2f96..."
13,0,Bogotá,Colombia,4.598077,-74.076103,6.70,"{'58d0742a951e7d532bac7fb2': 6.7, '54f83f18498..."
22,0,Dublin,Ireland,53.349764,-6.260273,7.30,"{'5290d704498e2d5c6000a181': 7.3, '4af1ea70f96..."
26,0,Jakarta,Indonesia,-6.175394,106.827183,7.30,"{'51047707e4b0059ce06c2cf0': 7.3, '5783a0ff498..."
27,0,Kuala Lumpur,Malaysia,3.151664,101.694303,6.80,"{'5902d2f4646e387f2b2d705c': 6.8, '538daac6498..."
31,0,London,United Kingdom,51.507322,-0.127647,6.80,"{'502904745dd7750e9d63bc17': 6.8, '4b77eb6ff96..."
32,0,Luxembourg,Luxembourg,49.815868,6.129675,7.20,"{'567eae1e498eab68b90d203b': 7.2, '568f8115498..."
35,0,Manila,Philippines,14.590622,120.979970,7.10,"{'4cd7475ab6962c0fc4b72f96': 7.1, '4bda44e6a8d..."
41,0,Nassau,Bahamas,25.078346,-77.338333,6.50,"{'4bcf7dd041b9ef3b078cf8e5': 6.5, '4ccafe8eba0..."
44,0,Nursultan,Kazakhstan,43.086368,77.120336,6.90,"{'5782361c498e2299113fdb5a': 6.9, '578b98d8498..."
46,0,Oslo,Norway,59.913330,10.738970,6.40,"{'519e5ee1498e59575ef2ae8c': 6.4, '5279f00d11d..."
47,0,Ottawa,Canada,45.260398,-75.808238,6.50,"{'4b2b9f33f964a5205eb824e3': 6.5, '4b15a589f96..."
49,0,Paris,France,48.856610,2.351499,7.00,"{'4d9da49ec97a236afb68c199': 7.0, '4b73c62cf96..."
51,0,Prague,Czech Republic,50.087465,14.421254,6.24,"{'4b46db8bf964a520f12826e3': 7.8, '5c1f5190dbd..."
52,0,Rabat,Morocco,34.022405,-6.834543,7.20,"{'59da90824420d82388d1b745': 7.2, '59e4731a624..."
58,0,Seoul,South Korea,37.566679,126.978291,6.20,"{'56f573d5498e64a809fc4527': 6.2, '4b5bb69af96..."
59,0,Singapore,Singapore,1.340853,103.878447,6.40,"{'4cea08b7e888f04d1f404b6b': 6.4, '4b062a5cf96..."
61,0,Stockholm,Sweden,59.325117,18.071093,7.00,"{'54bcfcc3498ea0b8417f2eb2': 7.0, '54648a88498..."
63,0,Tokyo,Japan,35.682839,139.759455,6.70,"{'4b85ba2bf964a520666f31e3': 6.7, '597185d6080..."
66,0,Washington,United States,38.895009,-77.036563,6.90,"{'4a6718ecf964a520e7c81fe3': 6.9, '4a54d2f3f96..."
67,0,Wellington,New Zealand,-41.288747,174.777209,6.60,"{'4b058778f964a5204f9422e3': 6.6, '4b233adbf96..."

### Final Notes:

Now, the table above can be used by WorldWideCoffee  in order to make decisions about their expanding.

They can choose the cities with lowest ratings, and open their shops there.

Moreover, Ratings column of the table contains rating information about each store in the chosen city. They can use this data to further analyze the starbucks shops, and choose a location in which starbucks has the lowest rating